.bg-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glowing {
  position: relative;
  min-width: 700px;
  height: 550px;
  margin: -150px;
  transform-origin: right;
  animation: colorChange 5s linear infinite;
}
  
.glowing:nth-child(even) {
  transform-origin: left;
}
  
@keyframes colorChange {
  0% {
    filter: hue-rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
    transform: rotate(360deg);
  }
}
  
.glowing span {
  position: absolute;
  top: calc(20px * var(--data-index));
  left: calc(20px * var(--data-index));
  bottom: calc(20px * var(--data-index));
  right: calc(20px * var(--data-index));
}
  
.glowing span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -8px;
  width: 15px;
  height: 15px;
  background: black;
  border-radius: 50%;
}

.dark-span {
  background: black;
  box-shadow: 0 0 20px black,
    0 0 40px black,
    0 0 60px black,
    0 0 80px black,
    0 0 0 8px black;
}

.light-span {
  background: white;
  box-shadow: 0 0 20px white,
    0 0 40px white,
    0 0 60px white,
    0 0 80px white,
    0 0 0 8px white;
}
  
.glowing span:nth-child(3n + 1) {
  animation: animate 20s alternate infinite;
}
  
.glowing span:nth-child(3n + 2) {
  animation: animate-reverse 6s alternate infinite;
}
  
.glowing span:nth-child(3n + 3) {
  animation: animate 16s alternate infinite; 
}
  
@keyframes animate {
  0% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
  
@keyframes animate-reverse {
  0% {
    transform: rotate(360deg);
  }    
  50% {
    transform: rotate(180deg);
  }    
  100% {
    transform: rotate(0deg);
  }
}