.categories-list {
  display: none;
}

.categories-list button {
  text-transform: capitalize;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.skills-list {
  display: flex;
  list-style: none;
  gap: 1rem;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .categories-list {
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 1rem;
  }
  .mobile-select {
    display: none;
  }
}
